.container-filters {
  display: flex;
  flex-direction: column;
  width: 98%;
  max-width: 100%;
  overflow: hidden;
  margin: 2rem auto;
  justify-content: space-between;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(113, 103, 103, 0.229);
}

/* Aquí también agrego los estilos de el contenedor de las películas y de sus ItemsMovies, en su caso con sus tres estados */

.container-films-user {
  min-width: 98%;
  max-width: 98%;
  /*border: 1px solid rgba(128, 128, 128, 0.229);*/
  min-height: 11rem;
  margin: 2rem auto;
}
.grid-footer {
  overflow: hidden;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  margin: 1rem auto;
  column-gap: 6rem;
  justify-items: center;
  padding: 1rem 2rem;
  row-gap: 1rem;
  width: 100%;
  background-color: red;
}
.grid-footer li a {
  font-size: 0.7rem; /* Cambia el tamaño según necesites */
  text-decoration: none; /* opcional, para quitar subrayado */
}
.txt-footer-c {
  font-size: 0.86rem; /* Cambia el tamaño según necesites */
}
a {
  color: inherit;
  text-decoration: none;
}
.social-icons {
  display: flex;
  width: auto;
  gap: 1rem;
}
.menu-flot {
  display: none;
  /*se oculta en dispositivos mobiles para visualizar otro menu*/
}
.menu-flot-movil {
  display: absolute;
  top: 100%;
}

/* HOME */
.username-txt {
  font-weight: 200;
  font-size: 2.5rem;
}
.username-txt-second {
  display: none;
}
.username-txt-third {
  font-size: 1.3rem;
}
.welcome-msg {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.div-new-on-mubi {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.section-persentage {
  width: 90%;
  margin: 2rem auto;
}
.overly-options {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20rem;
  top: -8rem;
  color: black;
  background-color: rgb(153, 170, 187);
  left: 9rem;
  font-size: 1.5rem;
  z-index: 100;
}
.overly-true {
  display: flex;
}
.overly-options > div:hover {
  background-color: rgb(112, 120, 128);
  cursor: pointer;
  color: white;
}
.overly-options > div {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.6rem 1.3rem;
}

#img-full-cover {
  position: relative;
}
#img-full-cover:hover {
  border: 2px solid white;
  cursor: pointer;
}

/* footer card pposter */
.ratingAndDate {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 17rem;
  height: fit-content;
  padding: 0.1rem 4%;
  justify-content: space-between;
  align-items: center;
}
.ratingUser {
  background-color: gray;
  height: fit-content;
  padding: 0.4rem;
}

.firstPartReviewPreview {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
.likesCount {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.grid-container-reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.main-review-preview {
  width: 100%;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.241);
  padding-bottom: 2rem;
}

.list-preview-container {
  max-width: 100%;
  width: 360px;
  height: 21rem;
  min-height: fit-content;
  overflow: hidden;
  margin: 2.5rem 0rem;
}
.poster-list-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(5, 5.8rem);
  overflow: hidden;
  height: auto;
  border: 0.4px solid rgba(128, 128, 128, 0.582);
  margin: 1rem 0rem;
}
.txt-subtitle-list-preview {
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 15px;
}

.custom-list-poster {
  height: 100%;
  width: 100%;
  margin-left: -45px; /* el truco: overlap constante */
}

.poster-list-container .custom-list-poster:first-child {
  margin-left: 0; /* el primero no se solapa */
}
.container-lists-home {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;

  padding: 1rem 0;
}

.masonry-grid {
  display: block;
  position: relative;
}

.masonry-sizer,
.masonry-item {
  width: 100%; /* ajusta segun las columnas deseadas, 100 = 1fr*/
}
.masonry-item {
  margin-bottom: 1rem;
  height: auto;
}

.masonry-item img {
  width: 100%;
  border-radius: 8px;
  display: block;
  height: auto;
}

.sec-masonry {
  overflow: auto;
  position: relative;
  scrollbar-width: none; /* para Firefox */
  -ms-overflow-style: none; /* para Internet Explorer y Edge */
}

.masonry-item-article {
  max-width: 100%;
  width: 80%;
  min-width: 20rem;
  height: auto;

  display: flex;
  flex-direction: column;
}
.clamp-text-masonry-item {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-item-masonry {
  width: 100%;
  height: 16rem;
  max-height: 17rem;
}

/*  Profile user*/
.profile-banner {
  width: 90%;
  height: fit-content;
  margin: auto;
}

.optionsShareProfileBtn {
  border-radius: 50%;
  background: gray;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-button {
  background-color: #4caf50;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.simple-button-any {
  color: white;
  background-color: transparent;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 0.8px solid rgba(255, 255, 255, 0.249);
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.simple-button:hover {
  background-color: #45a049;
  transform: scale(1.01);
}

.simple-button:active {
  transform: scale(0.02);
}

.grid-banner-profile {
  display: grid;
  grid-template-columns: 1fr;
  width: 30rem;
  min-width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 0 1.5rem;
  gap: 2rem;
}

.profile-edit-btns {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  gap: 1rem;
}

.flex-style {
  display: flex;
  gap: 1rem;
}

.text-light-gray {
  font-size: 1rem;
  font-weight: 300;
  color: gray;
}
.text-bold-large {
  font-size: 2rem;
  font-weight: 700;
}

/* SECTION FAVORITES AND DIARY */
.section-fav-diary {
  display: grid;
  padding: 1rem 2rem;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.item-sec-fav {
  max-width: 100%;
  overflow: hidden;
}
.pice-hidden {
  display: none;
}

/* charts */

:root {
  --bg: #0f1113;
  --panel: #16181b;
  --input: #2b3136;
  --muted: #9aa3ad;
  --text: #e6eef3;
  --accent: #3b82f6;
  --radius: 10px;
  --gap: 16px;
  --glass: rgba(255, 255, 255, 0.02);

  /* Primary */
  --color-primary: #050417;
  --color-primary-light: #0b0127;
  --color-primary-dark: #03020d;
  --color-primary-contrast: #f8f9fa;

  /* Text */
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;

  /* Backgrounds */
  --color-background-100: #3c4045;
  --color-background-500: #2b3035;
  --color-background-900: #212529;

  /* Accents Red */
  --color-red-light: #ff8787;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
  margin-top: 5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 1.4rem 0;
}

.container-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* para que no quede tapada */
  padding: 0.8rem 0;
}

#header-nav {
  background: var(--color-primary);
  padding: 14px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-header {
  background: var(--color-primary);
  padding: 9px 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-line {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 1.4px;
  transition: all 0.34s ease;
}
.burger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22px;
  height: 24px;
  padding: 0;
}
.input-search-btn {
  border: none;
  background: transparent;
  padding: 2px 12px;
  cursor: pointer;
}

.burger-button[aria-expanded="true"] .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-button[aria-expanded="true"] .burger-line:nth-child(2) {
  opacity: 0;
}
.burger-button[aria-expanded="true"] .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* cuando el menu-burger lo marque como abierto su estado, lo transformo en una x*/
.menu-content {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  background: #34495e;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.overly-filters-menu {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
#ul-filter {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: rgb(170, 170, 170);
  background: #09082a;
  padding: 1rem 2.5rem;
  list-style: none;
  gap: 1.17rem;
}
.overly-filters-menu.show {
  transform: scaleY(1);
  width: 500px;
  max-height: 300px;
  padding: 0.6rem 1.5rem;
}
.menu-search-wrap-uno {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  background: #34495e;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu-content.show {
  transform: scaleY(1);
  width: 500px;
  max-height: 300px;
}
.search-wrap-uno {
  display: flex;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(20, 20, 20, 0.06);
  overflow: hidden;
  width: 100%;
  max-width: 93%;
  margin: 2rem auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.input-search-wrap {
  border: none;
  outline: none;
  height: 4rem;
  background: none;
  padding: 9px 12px;
  font-size: 0.95rem;
  /* min-width: 280px; */
  min-width: 80%;
}
.menu-search-wrap-uno.show {
  transform: scaleY(1);
  width: 500px;
  max-height: 300px;
}
.isBarOpen {
  display: none;
}
.isBarOpen.true {
  display: flex;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 47rem;
  max-width: 45rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);

  /* background-color: var(--color-background-900); */
  background-color: var(--color-primary-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: scroll;
}

.list-watched {
  height: calc(100% - 9rem);
}

.movieListItem {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}
.pointerCursor {
  cursor: pointer;
}
.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;
  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  /* background-color: var(--color-text); */
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

/*
FULL STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="#000"
  stroke="#000"
>
  <path
    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
  />
</svg>


EMPTY STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke="#000"
>
  <path
    strokeLinecap="round"
    strokeLinejoin="round"
    strokeWidth="{2}"
    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
  />
</svg>

*/

/* logo-mubi-styles */
.img-full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-full-cover-0 {
  opacity: 0;
}
.img-full-cover-100 {
  opacity: 1;
}
.transition {
  transition: opacity 0.5s ease; /* transition-opacity duration-500 */
}
.image-abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-rela {
  position: relative; /* relative */
  overflow: hidden; /* overflow-hidden */
}

.flex-row {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 0.65rem;
  max-width: 100%;
}
.flex-row > li {
  list-style: none;
}

.div-picture-nikname {
  height: auto;
  max-width: 20rem;
  width: auto;
  row-gap: 1rem;
  /* margin: 1rem 1rem; */
}

.nickname {
  font-weight: 700;
}
.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.container-navbar-user {
  width: 98%;
  padding: 0 3rem;
  height: auto;
  margin: 2rem auto 0rem;
  background-color: #1a1d23;
  justify-content: space-between;
}

.navbar-user {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-evenly;
  background-color: #1a1d23;
  padding: 0;
  margin: 0;
  width: 60%;
  margin: 1rem 2rem;
}

.navbar-user > li {
  list-style: none;
  height: 100%;
}
.navbar-user > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: #9aa0a6;
  font-weight: 500;
  font-size: 1.5rem;
}
.navbar-user > li > a:hover,
.navbar-user > li > a.active {
  color: #fff;
}

.tab-inline-nav {
  letter-spacing: 1.4px;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  color: rgb(0, 224, 84);
  padding: 0rem 0.76rem 0.3rem;
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.24);
}

/* .tab-inline-nav:hover {
only desktop
  border-bottom: 0.5px solid rgb(0, 224, 84);
} */

.grid-profile-hero {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "picture nickname"
    "picture dots";
  gap: 8px 12px;
  align-items: center;
  padding: 1px;
  max-width: 100%;
  width: 26rem;
  margin: 0 auto;
}
.dots-avatar {
  grid-area: dots;
  width: 100%;

  height: 100%;
}

.nickname-avatar {
  grid-area: nickname;
  font-size: 2rem;
  width: 100%;
  height: 100%;
}
.picture-avatar {
  grid-area: picture;
}
.flex-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 4rem;
  justify-content: space-between;
}
.wrapp-stats-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 0rem auto;
  gap: 0.8rem;
  max-width: 100%;
  width: 30rem;
}
.eachStatNumber {
  display: flex;
  flex-direction: column;
  justify-content: center; /* eje principal */
  align-items: center; /* eje secundario */
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}
.favorite-films-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  width: 100%;
}
.subtitle-section {
  margin: 1rem auto;
  padding: 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.4px solid rgba(237, 237, 241, 0.265);
}
.child-second-tag {
  max-width: 6%;
  width: 10rem;
  height: auto;
}
.subtitle-section p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
}
.txt-rated {
  color: gray;
}
.title-rated-movie {
  color: white;
  font-weight: 400;
}

/* Contenido de la plantilla de mubi, muestra el detalle de la película */

.mubi-card {
  position: relative;
  color: white;
  max-width: 100%;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  background: #000000;
  padding: 0 1.8rem;
}

.mubi-hero {
  position: relative;
  height: 180px;
}

.mubi-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mubi-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.983) 20%,
    /* fuerte abajo */ rgba(0, 0, 0, 0.3) 75%,
    /* fuerte abajo */ rgba(0, 0, 0, 0.258) 90%,

    /* más suave a la mitad */ rgba(0, 0, 0, 0.202) 100%
      /* totalmente transparente arriba */
  );
}

.mubi-content {
  width: 100%;
  padding: 1rem 1.2rem;
  display: grid;
  grid-template-columns: 1fr 10rem;
  gap: 1.5rem;
  height: auto;
  grid-template-rows: minmax(12rem, auto);
  margin: 1rem 0rem;
}

.mubi-poster-m {
  width: 95%;
}
.mubi-poster-m img {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.mubi-title {
  font-size: 2.15rem;
}
.wrapper-title-meta {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 1rem;
}
.mubi-meta {
  font-size: 1rem;
}

.trailer-btn {
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 0 1rem 0rem;
  background: hsla(0, 0%, 83%, 0.126); /* azul base */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}
.trailer-btn:hover {
  background: #5b7fe3; /* azul más oscuro */
}

.trailer-btn:active {
  transform: scale(0.97); /* efecto de click */
}

.trailer-btn:disabled {
  background: #9ca3af; /* gris */
  cursor: not-allowed;
}
.mubi-description {
  padding: 0rem 1.2rem;
  gap: 0.5rem;
  height: auto;
  margin: 1rem 0rem 2rem;
}
.txt-mubi-subtitle {
  font-size: 0.8rem;
}

.dots {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: white;
  z-index: 100;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.icon-plataform {
  width: 2rem;
  height: 2rem;
  border-radius: 0.6rem;
  padding: 0.2rem;
  background-color: white;
  overflow: hidden;
}

.media-visualization-item {
  width: fit-content;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0.2rem;
  color: white;
  background-color: #2b3035;
  border-radius: 0.2rem;
}
.media-visualization-item-border {
  width: fit-content;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 0.2rem;
  color: white;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.269);
}

.item-plataform {
  display: grid;
  grid-template-columns: repeat(3, minmax(6rem, max-content));

  align-items: center;
}
.div-flex-cast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  height: auto;
  padding: 1rem 0.7rem;
}

.flag-container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.estiloBotonActivo {
  color: white !important;
  border-top: rgba(255, 255, 255, 0.24) solid 0.7px;
  border-right: rgba(255, 255, 255, 0.24) solid 0.7px;
  border-left: rgba(255, 255, 255, 0.24) solid 0.7px;
  border-bottom: none;
}

/* rating tools: Aparecen al hacer click sobre los 3 puntos, en cada película Mubi Component */
#container-tools-rating {
  position: fixed;
  left: 5%;
  width: clamp(16rem, 90%, 40rem);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 301;
  bottom: 5%;

  /* 
    - Nunca será más pequeño de 16rem (valor mínimo). 
    - Intentará ser 50% del ancho del contenedor (valor "ideal").
    - Nunca será más grande de 40rem (valor máximo).
  */
  /* Ajusta el padding fluidamente con la pantalla */
  margin: 0 auto; /* Para centrar si es necesario */
  background-color: #515151;
  height: auto;
  padding: 1.5rem 0;
  border-radius: 15px;
}

.close-btn-float {
  width: 3rem;
  border: none;
  height: 3rem;
  position: absolute;
  background-color: rgb(56, 54, 54);
  color: white;
  top: 0;
  border-radius: 50%;
  text-align: center;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.close-btn-float-favorite,
.add-btn-float-favorite {
  width: 1.4rem;
  border: none;
  height: 1 4rem;
  position: absolute;
  background-color: rgb(56, 54, 54);
  color: white;
  top: 0;
  border-radius: 50%;
  text-align: center;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.tool-rating {
  width: 100%;
  height: fit-content;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 0.7px solid rgba(128, 128, 128, 0.185);
}
.tool-txt {
  padding: 2rem 2rem;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
}

.tools-icons-rating {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.rating-tools-hidden {
  display: none;
}
.rating-tools-show {
  display: block;
}

#centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#centered:hover {
  color: #4caf50;
}

.overly-mubi-true {
  position: absolute;
  background-color: #000000c7;
  z-index: 300;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.overly-mubi-false {
  display: none;
}

/* Todo lo relacionado con la segunda versión de ReviewPreview */

#container-review-item-second {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  padding: 1rem 1.74rem;
}
.menu-desplegable-mobil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 1.7rem 1.4rem;
  overflow: hidden;
}

.grid-first-submenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px 2rem;
  grid-template-rows: repeat(6, 2rem);
  gap: 1rem;
  align-items: center;
}

.flex-first-submenu,
.grid-first-submenu > li {
  list-style: none;
  padding: 0.4rem 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 150;
  color: rgb(214, 211, 211);
}
.gap-submenu {
  gap: 1rem;
}
.flex-first-submenu {
  display: flex;
  flex-direction: column;
  padding: 3px 2rem;
}
.flex-first-submenu > li {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid rgba(63, 63, 63, 0.419);
}

.basic-flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.basic-flex-row {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.overly-actions {
  display: none;
}

/*ONLY FOR DESKTOP DEVICES */
@media (min-width: 1023px) {
  .menu-flot {
    position: absolute;
    display: none;
    width: 16rem;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    z-index: 100;
  }
  .container-menu-profile:hover .menu-flot {
    display: block;
  }
  .menu-flot > ul > li:hover {
    color: white;
    background-color: rgb(130, 146, 162);
    cursor: pointer;
  }
  .menu-flot > ul > li {
    width: 100%;
    color: black;
    background-color: rgb(153, 170, 187);
  }
  .visualize-grid-filters {
    display: block;
  }
  .overly-actions {
    display: none;
    flex-direction: row;
    gap: 0.4rem;
    z-index: 5;
    margin: 0.5rem 0.4rem;
    position: absolute;
    top: 80%;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    right: 15%;
    background-color: rgba(0, 0, 0, 0.653);
  }

  #img-full-cover:hover .overly-actions {
    display: flex;
  }
  .icon-action-h {
    position: relative;
    color: white;
    size: 1rem;
  }
  .icon-action-h:hover {
    color: rgb(209, 251, 237);
  }
}
.visualize-grid-filters {
  display: none;
}

.menu-flot,
.menu-flot-movil > ul > li {
  padding: 0.6rem 1.3rem;
  list-style-type: none;
}

.background-overly {
  position: absolute;
  display: none; /*----------------------------------------se esconde*/
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #221b1b64;
  z-index: 1900;
}

.container-review-overly {
  display: none; /*----------------------------------------se esconde*/
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 6%;
  padding: 1rem 1.4rem;
  min-width: 350px;
  width: 100%;
  max-width: 300px;
  background-color: rgb(76, 95, 113);
  height: 40rem;
  min-height: 90vh;
  z-index: 2000;
}
.btn-back-review {
  position: relative;
  background-color: #848a8e;
  color: #fff;
  border: none;
  padding: 0.3rem 1.3rem 0.3rem 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 1; /* evita que el texto desajuste la altura */
  display: inline-flex; /* mantiene el tamaño compacto */
  align-items: center; /* centra el texto verticalmente */
  height: 24px;
  border-radius: 0 5px 5px 0;
}

/* Flecha hacia la derecha */
.btn-back-review::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px; /* cuánto sobresale */
  width: 0;
  height: 0;
  border-top: 12px solid transparent; /* mitad de la altura aprox */
  border-bottom: 12px solid transparent;
  border-right: 15px solid #848a8e;
}

.btn-save-review {
  display: inline-block; /* No permite que se estire automáticamente */
  width: auto; /* Por si algún reset CSS puso 100% */
  width: 8rem;
  background-color: #4caf50;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-save-review:hover {
  background-color: #45a049; /* Verde más oscuro al hover */
  transform: scale(1.05); /* Pequeño efecto de zoom */
}

.btn-save-review:active {
  background-color: #3e8e41; /* Verde aún más oscuro al presionar */
  transform: scale(0.98); /* Simula pulsación */
}

.btn-save-review:disabled {
  background-color: #ccc; /* Gris cuando está deshabilitado */
  cursor: not-allowed;
  transform: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.95rem;
  user-select: none;
  position: relative;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #4caf50;
  border-color: #4caf50;
}

.checkmark::after {
  content: "";
  display: none;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.textarea-container label {
  font-size: 0.7rem;
  color: #c9bfbf;
  font-weight: 500;
}

.textarea-container textarea {
  width: 100%;
  min-height: 120px;
  padding: 0.75rem;
  font-size: 0.98rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s ease;
}

.textarea-container textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}

.top-overly,
.wrap-like-rating {
  width: 100%;
  justify-content: space-between;
}
.container-films-user-films {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  row-gap: 1rem;
}
.container-films-listed {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-items: flex-start;
  justify-items: flex-start;
}

#diary-item-grid {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  padding: 1rem 2rem;
}

/* estilos de el formulario de Settings */
.username-row {
  position: relative;
}
.username-row .edit-btn {
  position: absolute;
  right: 10px;
  top: 34px;
  width: 36px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--muted);
}
.edit-btn:active {
  transform: translateY(1px);
}
/* .section {
  margin-top: 6px;
} */

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 4px;
}
.btn {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: var(--accent);
  color: white;
  box-shadow: 0 6px 18px rgba(59, 130, 246, 0.12);
}

.btn-ghost {
  background: transparent;
  color: var(--muted);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.card-settings {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.01) 100%
    ),
    var(--panel);
  border-radius: 14px;
  padding: 1.5rem;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.03);
}
#form-title {
  margin: 0 0 18px 0;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 1.4rem;
  color: var(--text);
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  padding-bottom: 14px;
}

.form-settings {
  position: relative;
  margin-top: 1.1rem;
  display: grid;
  gap: var(--gap);
}

.form-settings label {
  font-size: 0.9rem;
  color: var(--muted);
  display: block;
  margin-bottom: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/*  full width inputs*/
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  background: var(--input);
  color: var(--text);
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 14px 14px;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.02);
}

input[readonly] {
  opacity: 0.7;
}

.txt-area-settings {
  min-height: 140px;
  resize: vertical;
}
.form-settings input:focus,
.txt-area-settings:focus,
select:focus {
  border-color: rgba(59, 130, 246, 0.9);
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.08);
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

/* small helper / example text */
.helper {
  font-size: 0.85rem;
  color: var(--muted);
  margin-top: 6px;
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--muted) 50%),
    linear-gradient(135deg, var(--muted) 50%, transparent 50%);
  background-position: calc(100% - 14px) calc(1em + 2px),
    calc(100% - 9px) calc(1em + 2px);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  padding-right: 42px;
}
.emptyPoster {
  width: 9rem;
  height: auto;
  position: relative;
  height: auto;
  border: dotted 2px rgba(105, 97, 97, 0.493);
}

.delete-fav-mubi-wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.four-mubis-container {
  display: flex;
  gap: 1.4rem;
  flex-direction: row;
}
.txt-review-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display before truncation */
  -webkit-box-orient: vertical;
}

.member-card {
  width: auto;
  background: #26292b;
  border-radius: 16px;
  padding: 16px 10px;
  text-align: center;
  position: relative;
  width: auto;
}
.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.follow-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333;
  border: none;
  border-radius: 50%;
  color: white;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}
.follow-btn-rel {
  bottom: 0;
  right: 0;
  background: #333;
  border: none;
  border-radius: 50px;
  color: white;
  width: 58px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}
.follow-btn.true,
.follow-btn-rel.true {
  background: rgb(2, 185, 2);
}

.name {
  margin: 10px 0 4px;
  font-weight: bold;
}
.stats {
  font-size: 0.9rem;
  color: #aaa;
}
.posters {
  margin-top: 12px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.members-grid {
  width: 94%; /* Por defecto ocupa 94% del ancho de pantalla */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
  column-gap: 1rem;
  row-gap: 2rem;
}

.list-of-following {
  flex-wrap: wrap;
}

.inline-follower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  width: 32rem;
  min-width: 35rem;
  height: auto;
  margin: 1rem auto;
  flex-direction: row;
}

.wrapper-container {
  width: 95%;

  margin: 1.5rem auto;
}
.btn-add-list {
  color: #f0f0f9;
  background: #4d47a0;
  font-size: 1.4rem;
  display: inline-block;
  min-width: 200px;
  margin: 1rem auto;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.15s ease;
}

/* Hover */
.btn-add-list:hover {
  background: #3a3180;
}

/* Active (cuando das click) */
.btn-add-list:active {
  transform: scale(0.95); /* efecto de “click” */
  background: #1d1a4d;
}

.btn-notes {
  background-color: rgba(255, 166, 0, 0.407);
  color: rgb(255, 136, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.85rem;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  min-width: 80px; /* tamaño mínimo */
  padding: 0.4rem 1.1rem 0.4rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.title-list {
  font-size: 2rem;
  font-weight: 700;
}

.desc-list {
  font-size: 1.3rem;
  color: rgb(182, 180, 180);
}
.sub-header-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.note-view {
  display: grid;
  grid-template-columns: 10rem 1fr;
  width: 90%;
  padding: 1rem 2rem;
}

/* Estilos de el hook de carga de imagenes */
.optimized-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.optimized-image_img {
  width: 100%;
  height: auto;
  transition: all 0.7s ease-out;
}

/* Estados de carga */
.optimized-image_img.loading {
  filter: blur(20px);
  transform: scale(1.05);
  opacity: 0.7;
}

.optimized-image_img.loaded {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

/* Skeleton */
.optimized-image_skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  z-index: 1;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Error */
.optimized-image.error {
  background-color: #e6e6e6;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  height: 100%;
}

.optimized-image_error-text {
  padding: 0.5rem;
}

.masonry-img img {
  width: 100%;
  display: block;
}

.icon-native {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}

.search-container {
  padding: 20px 16px;
  background: #1c1e26;
}

.search-label {
  display: block;
  text-align: center;
  color: #778899;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  font-weight: 600;
}

.search-input-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #1c1e26;
  outline: none;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  padding: 14px 16px;
  border-bottom: 1px solid #a94444;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.dropdown-item:first-child {
  background: #00e054; /* Color verde de Letterboxd */
  color: white;
  font-weight: 500;
}

.dropdown-item.loading,
.dropdown-item.no-results {
  color: #666;
  text-align: center;
  cursor: default;
}

.dropdown-item.loading:hover,
.dropdown-item.no-results:hover {
  background: white;
}

.movie-title {
  display: block;
  font-weight: 500;
  color: #1c1e26;
}

.movie-director {
  display: block;
  font-size: 14px;
  color: #666;
  margin-top: 2px;
}

/* Estilos para el primer item (resaltado) */
.dropdown-item:first-child .movie-title,
.dropdown-item:first-child .movie-director {
  color: white;
}

input,
textarea,
select {
  font-size: 16px;
}
